@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  text-align: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  width: auto;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.statement {
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.play-area {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  margin-top: 40px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.token{
  width: 100px;
  height: 100px;
}